<!-- app/views/buying/show_ticket.html.erb -->
<h1>Ваш билет куплен, поздравляем! Желаем хорошего времяпрепровождения на фестивале</h1>
<p>Билет на имя: <%= name %></p>
<p>Документ: <%= doc_type %></p>
<p>Номер документа: <%= doc_num %></p>
<p>Категория билета: <%= category %></p>
<p>Дата мероприятия: <%= date %></p>
<p>Оплаченная сумма: <%= price %></p>